input[type=text] {
  margin-bottom: 5px;
}

body {
  background-color: aliceblue;    
}

 .alert{
      margin-bottom: 0;
 }

  .carousel-inner img {   
       width: 100%;
       height: 100%;
  }
  
  input[type="search"] {
      padding: 12px 15px;
      border-radius: 15px;
      border-color: #046aaa;
  }

  
input[type=search] {
  padding: 12px 15px;
margin-top: 10px;
border-radius: 15px;
border-color: #046aaa;
}

.alert{
text-align: center;
margin-bottom: 0 !important;
}

.btn{
margin-left: 50px !important;
margin-top: 10px !important;
}

input[name="btn-src"]{
  margin-bottom: 15px;
}

input[name="btn-panier"]{
  margin-bottom: 15px;
  margin-right: 300px;
}

 form[name="btn-panier"]{
     margin-left: 250px;
 }
 
 .resume{
     margin-top: -150px;
     margin-right: 200px;  
 }    

 h4{
     margin-left: 50px;
 }


 input[name=btn-deco]{
margin-left: 240px !important;
margin-top: 0 !important;
}

img {
  height:50px;
}

 .alert{
      margin-bottom: 0;

 }
 img {
  height:50px;
}
.jumbotron{
  background-color: rgb(62, 131, 249)
}
.alert{
margin-bottom: 0;

}

.carousel-inner img {   
width: 100%;
height: 100%;
}

#titre{
  text-align: left;
  margin-left: 15px;
  margin-bottom: 100px;
  margin-top: -400px;
}

#auteur{
  text-align: left;
  margin-left: 15px;
  margin-bottom: 100px;
  margin-top: -200px;
}

#isbn13{
  text-align: left;
  margin-left: 15px;
  margin-bottom: 150px;
  margin-top: -70px;
}
h2{
    margin-left: 200px;
    margin-top: -150px;
    color: red;
}
#resume {
    text-align: center;
    margin-right: 420px;
    margin-bottom: 25px;
}

#covers {
  margin-left: 700px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 320px;
  height: 500px;
  border-radius: 15px;
 }  

 #client{
  margin-right: 50px;
 }
